<% include_js 'player.js' %>

<% render :partial => 'sidebar' %>

<% content_for :before_main_block do %>
<% end %>

<% content_for :before_logo do %>
  <div class="temple"></div>
<% end %>

<% content_for :after_logo do %>
  <div class="quote">
    <p>“Этот сайт &ndash; созданный с целью выразить признательность преданным слугам Господа, которые не позволяют мне оставить поиск Бесконечной, вечно Ускользающей и Увлекающей (-ся) Красоты, - посвящён моему духовному поводырю Шриле Бхакти Сундару Говинде Деву-Госвами Махараджу”.</p>
    <p style="text-align: right;"><a href="http://bharati.ru/preachers/BharatiMj">Свами Б.Ч. Бхарати</a></p>
  </div>
<% end %>

<div class="teachers">
  <div class="container">
    <h1>Учители <span>Бхакти</span></h1><!-- По семантике тег H1 должен встречаться 1 раз, не больше не меньше. На этой странице мне показалось, что H1 будет уместнее именно здесь, на внутряках, это лучше сделать в заголовках новостей. -->
    <p>Шри Чайтанья Сарасват Матх</p>
    <ul>
      <% @acharya.each do |teacher| %>
        <li><%= link_to author_main_photo(teacher) + "<span>#{teacher.display_name}</span>".html_safe, teacher_show_path(teacher) %></li>
      <% end %>
    </ul>
  </div>
</div>
<div>
  <a href="http://vkontakte.ru/bharati_swami" target="_blank"><img src="../images/vk_main.png"></a>
  <a href="http://www.facebook.com/bharati.ru" target="_blank"><img src="../images/fb_main.png"></a>
  <a href="http://www.saraswata.ru/" target="_blank"><img src="../images/sarasvata.png"></a>
</div>

<div class="block events">
  <div class="title">События</div>
  <div class="text">
    <% @events.each do |event| %>
      <div class="item">
        <h2><%= link_to event.title, show_event_path(event) %></h2>
        <p><%= short_t(event.short_description) %></p>
      </div>
    <% end %>
  </div>
  <div class="bottom"></div>
</div>

<div class="block video">
  <div class="title">Последнее видео</div>
  <div class="text">
    <div id="player_block" class="container">
      <iframe width="480" height="296" src="http://www.ustream.tv/embed/recorded/24819312?wmode=direct" scrolling="no" frameborder="0" style="border: 0px none transparent;">    </iframe>
      <br /><a href="http://www.ustream.tv/" style="padding: 2px 0px 4px; width: 400px; background: #ffffff; display: block; color: #000000; font-weight: normal; font-size: 10px; text-decoration: underline; text-align: center;" target="_blank">Video streaming by Ustream</a>
    </div>
  </div>
  <div class="bottom"></div>
</div>
<% if false and @video %>
<div class="block video">
  <div class="title">Последнее видео</div>
  <div class="text">
    <div id="player_block" class="container">
      <% video_player %>
    </div>
    <div class="name"><%= @video.author.display_name %></div>
    <div class="about-video">“<%= @video.title %>”. <%= dy @video.record_date %></div>
  </div>
  <div class="bottom"></div>
</div>
<% end %>
