<% sidebar do %>
  <div class="block lect">
    <div class="title"><%= block_title %> Учителей</div>

    <div class="text">
      <ul>
        <%= render :partial => 'author_item', :collection => @acharya %>
      </ul>
    </div>

    <div class="bottom"></div>
  </div>

  <div class="block lect">
    <div class="title"><%= block_title %> Проповедников</div>
    <div class="text">
      <ul>
        <%= render :partial => 'author_item', :collection => @authors %>
      </ul>
    </div>
    <div class="bottom"></div>
  </div>

  <div class="block audios">
    <div class="title">Аудиокниги</div>
    <div class="text">
      <%= menu_glance_next(:icon => :audio_book_icon, :partial => 'div') do |m| %>
        <%= m.audio_books_vaishnava @books_math    %>
        <%= m.audio_books_classic   @books_classic %>
      <% end %>
    </div>
    <div class="bottom"></div>
  </div>

  <div class="block audios">
    <div class="title">Молитвы вайшнавов</div>
    <div class="text">
      <%= menu_glance_next(:icon => :audio_book_icon, :partial => 'div') do |m| %>
        <%= m.kirtans @kirtans_menu %>
      <% end %>
    </div>
    <div class="bottom"></div>
  </div>

<% end %>
