<div class="item">
  <a href="#">
    <%= small_thumb(last_item.author.main_photo) %>
  </a>

  <div class="name"><%= link_to "“#{last_item.title}”" %></div>
  <p>Лекция от <%= d last_item.record_date %> <br> <%= last_item.author.display_name %></p>
  <div class="date"><%= d last_item.created_at %></div>
</div>
