<li <%= "class='active'" if @current_track.id == track_item.id %>>
  <% if @current_track.id == track_item.id %>
    <strong><%= track_item_counter + 1 %>. “<%= track_item.title %>”</strong>
  <% else %>
    <%= link_to "#{track_item_counter + 1}. “#{track_item.title}”",  album_track_path(@album.id, track_item.id) %>
  <% end %>
  <div><span>Лекция от <%= track_item.record_date %></span><br />18 апреля 2010</div>
</li>
