<div class="share">
  <a href="http://twitter.com/share" class="twitter-share-button"
    data-url="<%= request.url %>"
    data-text='Аудио лекция – "<%= @current_track %>"'
    data-via="BharatiRu"
    data-count="none">
    Tweet
  </a>
  <div id="vk_like"></div>
  <div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=214573311912142&amp;xfbml=1"></script><fb:like href="" send="false" width="450" show_faces="false" font=""></fb:like>
  

  <!-- Put this script tag to the <head> of your page -->
  <script type="text/javascript" src="http://userapi.com/js/api/openapi.js?31"></script>
  <script type="text/javascript">
    VK.init({apiId: '2349590', onlyWidgets: true});
  </script>

  <!-- Put this div tag to the place, where the Like block will be -->
  <script type="text/javascript">
    VK.Widgets.Like("vk_like", {type: "button"});
  </script>
</div>

<br/>
<br/>
<br/>

<div class="trackAuthor">
  <div class="trackPhoto"><%= track_img %></div>
  <div class="trackInfo">
    <div class="author"><span>Автор:</span> <%= link_to author_name, link_to_teacher(@current_track.author)  %></div>
    <div class="tags"><%= tags %></div>

    <div class="download"><%= link_to "<b>&#160;</b><i>&#160;</i>скачать этот трек (#{source_size(@current_track)})".html_safe, file_url(@current_track.source) %></div>
  </div>
</div>
<% content_for :image_src do %>
  <link rel="image_src" type="image/jpeg" href="<%= track_img_url %>" />
<% end %>
