<li <%= "class='active'" if @current_track.id == track_item.id %>>
  <% if @current_track.id == track_item.id %>
    <h1><strong><%= track_item_counter + 1 %>. “<%= track_item.title %>”</strong></h1>
  <% else %>
    <%= link_to "#{track_item_counter + 1}. “#{track_item.title}”",  track_path(track_item) %>
  <% end %>
  <div><span>Лекция от <%= d track_item.record_date %></span><br /><%= d track_item.created_at %></div>
</li>
