<% include_js('player', 'bookmarks') %>
<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

<%= render :partial => 'album_sidebar' %>
<%= player %>
<%= render :partial => 'track_info' %>
<% js_gen_player %>

<div class="block update">
  <div class="tabs">
    <ul>
      <li><a href="#" class="active"><b></b><u>Закладки</u><i></i></a></li>
      <li><a href="#"><b></b><u>Цитаты</u><i></i></a></li>

      <li><a href="#"><b></b><u>Конспект лекции</u><i></i></a></li>
    </ul>
  </div>
  <div class="tab-container lastTab active" id="tab-1">
    <%= render :partial => 'track_bookmarks' %>
  </div>
  <div class="tab-container audioTab" id="tab-2">
    <%= render :partial => 'track_extracts' %>
  </div>
  <div class="tab-container" id="tab-3">

    <div class="synopsis">
    </div>
  </div>
  <div class="bottom"></div>
</div>
