<% include_js('player', 'bookmarks') %>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

<%= render :partial => 'album_sidebar' %>
<%= player %>
<%= render :partial => 'track_info' %>
<% js_gen_player %>

<div class="block update">
  <div class="tabs">
    <ul>
      <li><a href="#" class="active"><b></b><u>Закладки</u><i></i></a></li>
      <% if @current_track.extracts.any? %>
        <li><a href="#"><b></b><u>Цитаты</u><i></i></a></li>
      <% end %>

      <% unless @current_track.conspect.blank? %>
        <li><a href="#"><b></b><u>Конспект лекции</u><i></i></a></li>
      <% end %>
    </ul>
  </div>
  <div class="tab-container lastTab active" id="tab-1">
    <%= render :partial => 'track_bookmarks' %>
  </div>
  <% if @current_track.extracts.any? %>
    <div class="tab-container audioTab" id="tab-2">
      <%= render :partial => 'track_extracts' %>
    </div>
  <% end %>
  <% unless @current_track.conspect.blank? %>
    <div class="tab-container" id="tab-3">
      <div class="synopsis">
        <%= @current_track.conspect %>
      </div>
    </div>
  <% end %>
  <div class="bottom"></div>
</div>
