<div class="item">
  <% if last_item.cover %>
    <%= link_to cover_thumb(last_item), show_publication_path(last_item) %>
  <% end %>
  <div class="name"><%= link_to "“#{last_item.title}”", show_publication_path(last_item) %></div>
  <div class="about">
    <table>
      <tbody><tr>
          <td class="ab-t">Тип:</td>
          <td> <%= publication_type(last_item) %> </td>
        </tr>
        <tr>
          <% if last_item.author_id %>
            <td class="ab-t">Автор:</td>
            <td> <%= author_display_name(last_item) %> </td>
          <% end %>
        </tr>
    </tbody></table>
  </div>
  <p><%= last_item.description.truncate(100) %></p>
  <div class="date"><%= d last_item.created_at %></div>
</div>
