<% sidebar do %>
  <div class="block book">
    <div class="title"><%= publication_type(@publication).mb_chars.titlecase %></div>
    <div class="text">
      <a href="#"><%= photo_thumb(@publication.cover, {:height => 119, :width => 91}, true) %></a>
      <table>
        <tbody><tr>
            <th>Автор</th>
            <td><a href="#"><%= author_display_name(@publication) %></a></td>
          </tr>
          <tr>
          </tr>
      </tbody></table>
      <p><%= t @publication.description %></p>

      <% if @publication.source_pdf %>
        <div class="download">
          Скачать эту книгу:<br />
          <%= link_to(image_tag('pdf.png'), file_url(@publication.source_pdf)) %>
        </div>
      <% end %>
      <% if @publication.source_doc %>
        <div class="download">
          <%= link_to(image_tag('doc.png'), file_url(@publication.source_doc)) %>
        </div>
      <% end %>
    </div>
    <div class="bottom"></div>
  </div>
<% end %>
