<% sidebar do %>
  <div class="block book">
    <div class="title"><%= publication_type(@publication).mb_chars.titlecase %></div>
    <div class="text">
      <a href="#"><%= photo_thumb(@publication.cover, {:height => 119, :width => 91}, true) %></a>
      <table>
        <tbody><tr>
            <th>Автор</th>
            <td><a href="#"><%= author_display_name(@publication) %></a></td>
          </tr>
          <tr>
          </tr>
      </tbody></table>
      <p><%= t @publication.description %></p>

      <div class="download">
        <% if @publication.source_pdf || @publication.source_doc %>
          Скачать эту книгу:<br />
        <% end %>

        <% if @publication.source_pdf %>
          <%= link_to(image_tag('pdf.png'), file_url(@publication.source_pdf)) %>
        <% end %>
        <% if @publication.source_doc %>
          <%= link_to(image_tag('doc.png'), file_url(@publication.source_doc)) %>
        </div>
      <% end %>
    </div>
    <div class="bottom"></div>
  </div>
<% end %>
