<div id="edit_menu">
  <ul class="form_edit tabs_control" data-tabsId="form_tabs">
    <li class="active"> <%= link_to 'Basic' %> </li>
    <li> <%= link_to 'Bookmarks' %> </li>
    <li> <%= link_to 'Albums' %> </li>
    <li> <%= link_to 'Photos' %> </li>
    <li> <%= link_to 'Mp3' %>    </li>
  </ul>
</div>

<div id="form_tabs">
</div>
