<div id="header">
  <!-- logo -->
  <div class="logo inner">
    <a href="<%= root_path %>"><span>Бхарати<span>.ру</span></span></a> <strong><i>&gt;</i></strong> <a href=""><i> Форум</i></a> 
  </div>

  <!-- hmenu -->
  <div class="hmenu-l">
    <div class="hmenu-r">
      <div class="hmenu">

        <!-- menu -->
        <div class="menu">
          <%= menu_link_to 'ВОПРОСЫ БХАРАТИ МАХАРАДЖУ', forum_root_path(:section => Forum::MAHARAJ_QUESTIONS)  %>
          <%= menu_link_to 'ОБСУЖДЕНИЯ', forum_root_path  %>
          <%= menu_link_to 'ПОЛЬЗОВАТЕЛИ', forum_users_path %>
          <div class="cl"></div>
        </div>

        <!-- bread -->
        <div class="bread">
          <%= link_to 'Разделы', forum_root_path %>
          <% if @topic %>
            <span>&gt;</span>
            <%= link_to @topic, forum_topic_posts_path(@topic) %>
          <% end %>
          <% if @post %>
            <span>&gt;</span>
            <%= @post.title %>
          <% end %>

        </div>

        <!-- ask -->
        <div class="ask">
          <a href="#">ПРАВИЛА ФОРУМА</a>
        </div>
        <div class="cl"></div>
      </div>
    </div>
  </div>
</div>
