<div id="nav">
  <div class="bg"></div>
  <div class="container">
    <ul><!-- Для пунктов этого меню часть элементов формируется в common.js -->
      <li><%= m_link_to 'Учители', :teachers %></li><!-- При наличии class="active" пункт будет выделен, как и при наведении (сделал 2 варианта, т.к. не знаю какой именно требуется) -->
      <li><%= m_link_to 'Библиотека', :publications%></li>
      <li><%= m_link_to 'Аудио', :audios %></li>
      <li><%= m_link_to 'Видео', :videos %></li>
      <li><%= m_link_to 'Фото', :photos %></li>
      <li><%= m_link_to 'События', :events%></li>
      <li><a href="#">Форум</a></li>
      <li><%= m_link_to 'О сайте', :about %></li>
      <li><a href="#">Магазин</a></li>
      <li><%= m_link_to 'Контакты', :contacts %></li>
    </ul>

    <form method="put" action=<%= search_path %>>
      <div class="selector">
        <div class="top"></div>
        <div class="searchType">
          <a href="#" class="active">по аудио</a>
          <a href="#">по видео</a>
          <a href="#">по текстам</a>

          <a href="#">на форуме</a>
          <a href="#">по всему</a>
        </div>
        <div class="bottom"></div>
      </div>
      <fieldset>
        <input type="text" name="q" onblur="if (!value) value=defaultValue" onclick="if (value==defaultValue) value=''" value="поиск" class="field">
        <input type="submit" class="button" value=""><!-- кнопка скрыта, т.к. подобная форма поиска подразумевает отправку запроса по enter -->
      </fieldset>
    </form>
  </div>

  <div class="panel">
    <div class="panel-t">
      <%= login_panel %>

      <% if current_user.logged_in? %>
        <div class="links none">
          <p><%= link_to 'профиль', forum_edit_profile_path %></p>
          <div class="line"></div>
          <p><%= link_to 'выход', logout_path, :remote => true, :id => 'logout-link' %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
