<% sidebar do %>
  <div class="block lect">
    <div class="title"><%= block_title %> Учителей</div>

    <div class="text">
      <div class="all-pivot">
        <%= render :partial => 'shared/author_item', :collection => @acharya %>
      </div>
    </div>

    <div class="bottom"></div>
  </div>

  <div class="block lect">
    <div class="title"><small><%= block_title %> Проповедников</small></div>
    <div class="text">
      <div class="all-pivot">
        <%= render :partial => 'shared/author_item', :collection => @authors %>
      </div>
    </div>
    <div class="bottom"></div>
  </div>

  <div class="block lect">
    <div class="title"><small>Вайшнавская литература</small></div>
    <div class="text">
      <%= menu_glance(:icon => :cover_thumb, :text => :title) do |m| %>
        <%= m.publications_album :collection => @vaishnava %>
      <% end %>
    </div>
    <div class="bottom"></div>
  </div>

  <div class="block new">
    <div class="title"><small>Классическая литература</small></div>
    <div class="text">
      <%= link_to cover_thumb(@classic), publications_album_path(@classic)  %>
      <div class="name"><%= link_to @classic.title, publications_album_path(@classic) %></div>
      <p>Л.Н. Толстой, А.П. Чехов, Н.В. Гоголь и др.</p>
    </div>
    <div class="bottom"></div>
  </div>

<% end %>
