<% sidebar do %>
  <div class="block lect">
    <div class="title"><%= block_title %> Учителей</div>

    <div class="text">
      <ul><!-- Картинки придется формировать в форматах .png или .gif, т.к. требуются закругленный уголки. Рекомендую .png, т.к. в этом варианте качество лучше, вес меньше. -->
        <%= render :partial => 'shared/author_item', :collection => @acharya %>
      </ul>
    </div>

    <div class="bottom"></div>
  </div>

  <div class="block lect">
    <div class="title"><small><%= block_title %> Проповедников</small></div>
    <div class="text">
      <ul>
        <%= render :partial => 'shared/author_item', :collection => @authors %>
      </ul>
    </div>
    <div class="bottom"></div>
  </div>

  <div class="block lect">
    <div class="title"><small>Вайшнавская литература</small></div>
    <div class="text">
      <%= menu_glance(:icon => :cover_thumb, :text => :title) do |m| %>
        <%= m.publications_album :collection => @vaishnava %>
      <% end %>
    </div>
    <div class="bottom"></div>
  </div>

  <div class="block new">
    <div class="title"><small>Классическая литература</small></div>
    <div class="text">
      <%= link_to cover_thumb(@classic), publications_album_path(@classic)  %>
      <div class="name"><%= link_to @classic.title, publications_album_path(@classic) %></div>
      <p>Книги Толстого Л.Н., Чехова А.П., Гоголя Н.В. и других писателей</p>
    </div>
    <div class="bottom"></div>
  </div>

<% end %>
