<div id="footer">

  <div class="bg"></div>
  <div class="container">
    <ul><!-- Для пунктов этого меню часть элементов формируется в common.js -->
      <li><%= m_link_to 'Учители', :teachers %></li><!-- При наличии class="active" пункт будет выделен, как и при наведении (сделал 2 варианта, т.к. не знаю какой именно требуется) -->
      <li><%= m_link_to 'Библиотека', :publications%></li>
      <li><%= m_link_to 'Аудио', :audios %></li>
      <li><%= m_link_to 'Видео', :videos %></li>
      <li><%= m_link_to 'Фото', :photos %></li>
      <li><%= m_link_to 'События', :events%></li>
      <li><%= m_link_to 'Форум', :forum_root %></li>
      <li><%= m_link_to 'О сайте', :about %></li>
      <li><a href="#">Магазин</a></li>
      <li><%= m_link_to 'Контакты', :contacts %></li>
    </ul>
  </div>
</div>
