<% render :partial => 'sidebar' %>

<div class="block">
  <div class="title">Обратная связь</div>
  <div class="text padd-right">
    <div class="pulley">
      <p>Наталья (Каника диди)</p>
      <p>адрес эл. почты: kanicadidi@gmail.com</p>
      <p>Skype: kanicadidi</p>
      <br />
      <p>Антонина (Ананда Лила диди)</p>
      <p>Телефон: 8 (903) 102 63 69 (Москва)</p>
    </div>
    <div class="pulley back">
      <%= form_glance(@feedback, :method => 'post') do |f| %>
        <%= f.title "Вы можете написать нам" %>
        <%= f.bug %>

        <%= f.string :name %>
        <%= f.string :mail %>
        <%= f.string :topic %>
        <%= f.text   :body %>

        <%= f.submit %>
      <% end %>
    </div>
  </div>
  <div class="bottom"></div>
</div>

