<% render :partial => 'sidebar' %>

<div class="block">
  <div class="title">Обратная связь</div>
  <div class="text padd-right">
    <div class="pulley">
      <p class="tit">Координатор сайта -</p>
      <p>Прабху Шйама Мадхава (Александр Ванюков)</p>
      <p>тел.: +7 901 561 35 50</p>
      <p>адрес эл. почты: tochka108@gmail.com</p>
    </div>
    <div class="pulley back">
      <%= form_glance(@feedback, :method => 'post') do |f| %>
        <%= f.title "Вы можете написать нам" %>
        <%= f.bug %>

        <%= f.string :name %>
        <%= f.string :mail %>
        <%= f.string :topic %>
        <%= f.text   :body %>

        <%= f.submit %>
      <% end %>
    </div>
  </div>
  <div class="bottom"></div>
</div>

