<% render :partial => 'sidebar' %>

<div class="block">
  <div class="title">Обратная связь</div>
  <div class="text padd-right">
    <div class="pulley">
      <p class="tit">Почта Бхарати Махараджа:</p>  
      <p><a href="#">Bharati@mail.ru</a></p>
    </div>
    <div class="pulley">
      <p class="tit">По организационным вопросам: </p>
      <p>+7 901 561 35 50 Шйама Мадхава дас (Александр)</p>
      <p>tochka108@gmail.com</p>
    </div>
    <div class="pulley back">
      <%= form_glance(@feedback, :method => 'post') do |f| %>
        <%= f.title "Написать нам" %>
        <%= f.bug %>

        <%= f.string :name %>
        <%= f.string :mail %>
        <%= f.string :topic %>
        <%= f.text   :body %>

        <%= f.submit %>
      <% end %>
    </div>
  </div>
  <div class="bottom"></div>
</div>

