<% render :partial => 'sidebar' %>

<div class="block">
  <div class="title">Ссылки</div>
  <div class="text padd-right">
     <div class="pulley">
      <p><a href="http://saraswata.ru/" target="_blank"><img width="176" height="46" alt="" src="/images/contacts/sarasvata.png" /></a></p>
      <p><a href="http://saraswata.ru/" target="_blank">http://www.saraswata.ru/</a></p>
    </div>
    <div class="pulley">
      <p><%= link_to(image_tag("/images/contacts/harekrishna.png", :width => "176", :height => "46"), 'http://www.harekrishna.ru', :target => '_blank') %></a></p>
      <p><%= link_to 'www.harekrishna.ru', 'http://www.harekrishna.ru', :target => '_blank' %></p>
    </div>
    <div class="pulley">
      <p><%= link_to(image_tag("/images/contacts/scsmath.gif", :width => "176", :height => "46"), 'http://www.scsmath.com', :target => '_blank') %></a></p>
      <p><%= link_to 'www.scsmath.com', 'http://www.scsmath.com', :target => '_blank' %></p>
      <p>Официальный сайт Шри Чайтанья Сарасват Матха на английском языке</p>
    </div>
    <div class="pulley back">
      <p><%= link_to(image_tag("/images/contacts/scsmath.gif", :width => "176", :height => "46"), 'http://www.scsmath.ru', :target => '_blank') %></a></p>
      <p><%= link_to 'www.scsmath.ru', 'http://www.scsmath.ru', :target => '_blank' %></p>
      <p>Русское зеркало официального сайта Шри Чайтанья Сарасват Матха</p>
    </div>
  </div>
  <div class="bottom"></div>
</div>
