<!-- ans -->
<div id="ans-title" class="ans <%= 'hide' if ans_hide? %>">
  ОТВЕТ ДЛЯ {{responde_to_author}} В ТЕМЕ: <span><%= @post.title %></span>
</div>

<!-- area -->
<div id="ans-area" class="area <%= 'hide' if ans_hide? %>">
  <form id="form-post-comment" method="POST" action="<%= forum_topic_post_comments_path(@topic, @post, section_params) %>">
    <textarea cols="170" rows="10" name="comment[body]"><%= @comment %></textarea>
  </form>

  <div class="lin">
    <%= link_to 'Отправить', '#', :id => 'button-post-comment' %>
    <div class="cl"></div>
  </div>
</div>
