<% sidebar do %>
  <div class="block lect">
    <div class="top"></div>

    <div class="text back-t">
      <div class="cameraman">
        <%= photo_thumb(@teacher.main_photo_inner, {:width => "316", :height => "227"}, true) %>
      </div>
      <div class="f-name">
        <h1><%= @teacher.full_name %></h1>
      </div>

      <% unless @teacher.life_years.blank? %>
      <div class="f-name fs16">
        (<%= @teacher.life_years %>)
      </div>
      <% end %>

      <div class="docum">
      </div>

      <div class="docum">
        <%= t @teacher.short_bio %>
      </div>

      <div class="ref">
        <% author_links(@teacher) do |a| %>
          <%= a.photos_link 'Смотреть фото', :class => 'cam' %>
          <%= a.audios_link 'Слушать аудиозаписи', :class => 'aud' %>
          <%= a.videos_link 'Смотреть видео', :class => 'vid' %>
          <%= a.publications_link 'Читать', :class => 'read' %>
        <% end %>
      </div>

    </div>

    <div class="bottom"></div>
  </div>
<% end %>
