<% render :partial => 'sidebar' %>

<% content_for :before_content_block do %>
  <div class="choice">
    <%= link_to 'Учители', teachers_path, :class => "lil" %>
    <%= link_to 'Проповедники', preachers_path %>
    <div class="cl"></div>
  </div>
  
  <div class="list-teach lect">
    <ul>
      <% menu_glance_next(:icon => :teacher_photo, :text => :display_name, :partial => 'teacher') do |m| %>
        <% @teachers.each do |teacher| %>
          <li> <%= m.teacher_show teacher %> </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="cl"></div>
<% end %>

<div class="block update">
  <div class="tabs">
    <ul>
      <li><a href="#"><b></b><u>Цитаты</u><i></i></a></li>
      <li><a href="#" class="active"><b></b><u>Биография</u><i></i></a></li>
    </ul>
  </div>

  <div id="tab-2" class="tab-container lastTab active">
    <div class="word">
      <% if @teacher.extracts.any? %>
        <%= @teacher.extracts.join('<br /><br />').html_safe %>
      <% end %>
    </div>
  </div>

  <div id="tab-1" class="tab-container audioTab">
    <div class="word">
      <%= t @teacher.bio %>
    </div>
  </div>
  
  <div class="bottom"></div>
</div>

