<% include_js 'jquery.galleriffic', 'jquery.opacityrollover' %>
<% include_css 'galleriffic' %>

<% sidebar do %>
  <div class="block lect">
    <div class="title">Матх</div>

    <div class="text">
      <%= menu_glance(:icon => :section_cover, :text => :title) do |m| %>
        <%= m.photos_section :collection => @sections_math %>
      <% end %>
    </div>

    <div class="bottom"></div>
  </div>

  <div class="block lect">
    <div class="title"><small>Фото с Бхарати Махараджем</small></div>

    <div class="text">
      <%= menu_glance(:icon => :section_cover, :text => :title) do |m| %>
        <%= m.photos_section :collection => @sections_bs %>
      <% end %>
    </div>

    <div class="bottom"></div>
  </div>

<% end %>


<div class="block last-publ">
  <div class="title">Альбомы</div>
  <div class="text">
    <%= render :partial => 'album_preview', :collection => @albums %>
  </div>
  <div class="bottom"></div>
</div>
