<% include_js 'jquery.galleriffic', 'jquery.opacityrollover' %>
<% include_css 'galleriffic' %>

<% sidebar do %>
  <div class="block lect">
    <div class="title"><small>Шри Чайтанья Сарасват Матх</small></div>

    <div class="text">
      <div class="all-pivot">
        <%= menu_glance_next(:icon => :section_cover, :text => :title, :partial => 'book_type') do |m| %>
          <%= m.photos_section @sections_math %>
        <% end %>
      </div>
    </div>

    <div class="bottom"></div>
  </div>

  <div class="block lect">
    <div class="title"><small>Фото с Бхарати Махараджем</small></div>

    <div class="text">
      <div class="all-pivot">
        <%= menu_glance_next(:icon => :section_cover, :text => :title, :partial => 'book_type') do |m| %>
          <%= m.photos_section @sections_bs %>
        <% end %>
      </div>
    </div>

    <div class="bottom"></div>
  </div>

  <div class="block lect">
    <div class="title">Писания</div>

    <div class="text">
      <div class="all-pivot">
        <%= menu_glance_next(:icon => :section_cover, :text => :title, :partial => 'book_type') do |m| %>
          <%= m.photos_section @sections_scripts %>
        <% end %>
      </div>
    </div>

    <div class="bottom"></div>
  </div>



<% end %>


<div class="block last-publ">
  <div class="title"><%= @section ? 'Альбомы' : 'Последние альбомы' %></div>
  <div class="text">
    <%= render :partial => 'album_preview', :collection => @albums %>
  </div>
  <div class="bottom"></div>
</div>
