<% sidebar do %>
  <div class="block lect">
    <div class="title">О сайте</div>
    <div class="text">
      <%= menu_glance(:icon => :about_icon, :text => :about_text) do |m| %>
        <%= m.about %>
        <%= m.about_ychenie  %>
        <%= m.about_to_start %>
      <% end %>
    </div>
    <div class="bottom"></div>
  </div>

  <div class="block lect aboutsite">
    <div class="title">О проповедниках</div>
    <div class="text">
      <%= menu_glance(:icon => :author_main_photo, :text => :display_name) do |m| %>
        <%= m.about_author :collection => authors %>
      <% end %>
    </div>
    <div class="bottom"></div>
  </div>
<% end %>
