<div class="left-col pad21 pad0">
  <!-- top -->
  <div class="top-l">
    <div class="top-r">
      <div class="top-c">
        <div class="s-menu">
          <a class="act" href="#"><span>ОБО МНЕ</span></a>
        </div>
      </div>
    </div>
  </div>

  <div class="center-col font">
    <div class="about">
      <div class="box">
        <table>
          <tbody><tr>
              <td class="td2"><%= avatar(current_user) %></td>
              <td>
                <form method="POST" id="form-photo" enctype="multipart/form-data" action="<%= forum_profile_path %>">
                  <div class="fffile">
                    <div id="mask">
                      <input type="text" id="fileInputText">
                    </div>
                    <input type="file" name="user[photo_file]" onchange="document.getElementById('fileInputText').value = this.value;" size="49" id="fileInput">
                  </div>
                  <div class="descr">
                    Максимальный размер 700k. JPG, GIF, PNG.  
                    В случае возникновения проблем попробуйте 
                    загрузить фотографию меньшего размера.
                  </div>
                  <a class="refresh submit" href="#">Обновить фото</a>
                </form>
              </td>
            </tr>
        </tbody></table>
        <div class="desp">
          Фото
        </div>
      </div>
      <div class="line"></div>

      <div class="box">
        <% form_for current_user, :html => {:id => 'profile_form', :method=>"POST"}, :url => forum_profile_path do |f| %>
        <table>
          <tbody><tr>
              <td class="td2">Пол:</td>
              <td>
                <%= f.select "sex", [%w(женский w), %w(мужской m)], {:include_blank => true} %>
              </td>
            </tr>
            <tr>
              <td class="td2">День рождения:</td>
              <td>
                <%= f.date_select 'birthday', :end_year => 80.years.ago.year, :start_year => 10.years.ago.year %>
              </td>
            </tr>
            <tr>
              <td class="td2">Религиозные взгляды:</td>
              <td>
                <div class="inp3">
                  <%= f.text_field 'conseption' %>
                </div>
              </td>
            </tr>
        </tbody></table>
        <div class="desp">
          Основное
        </div>
      </div>

      <div class="line"></div>
      <div class="box">
        <table>
          <tbody><tr>
              <td class="td2">О себе:</td>
              <td><div class="are"><%= f.text_area 'about_me' %></div></td>
            </tr>
            <tr>
              <td class="td2">Деятельность:</td>
              <td><div class="are"><%= f.text_area 'activities' %></div></td>
            </tr>
            <tr>
              <td class="td2">Интересы:</td>
              <td><div class="are"><%= f.text_area 'interests' %></div></td>
            </tr>
        </tbody></table>
        <div class="desp">
          О себе
        </div>
      </div>
      <div class="line"></div>
      <div class="box">
        <table>
          <tbody><tr>
              <td class="td2">Е-mail:</td>
              <td>
                <div class="inp3">
                  <%= f.text_field :email %>
                </div>
              </td>
            </tr>
            <tr>
              <td class="td2">Мобильный телефон:</td>
              <td>
                <div class="inp3">
                  <%= f.text_field 'phone' %>
                </div>
              </td>
            </tr>
            <tr>
              <td class="td2">Скайп:</td>
              <td>
                <div class="inp3">
                  <%= f.text_field 'skype' %>
                </div>
              </td>
            </tr>
            <tr>
              <td class="td2">Личный сайт:</td>
              <td> 
                <div class="inp3">
                  <%= f.text_field 'site' %>
                </div>
              </td>
            </tr>
        </tbody></table>
         
        <% end %>
        <div class="desp">
          Контакты
        </div>
      </div>
      <div class="line"></div>
      <div class="butts">
        <a data-target="profile_form" href="#submit_profile" class="submit">Сохранить</a>
        <a href="#cancel">Отмена</a>
        <div class="cl"></div>
      </div>
    </div>
  </div>
  <div class="bot"></div>
</div>
