<ul>
  <li>
    <%= link_to 'Audios', admin_audios_path %>
    <%= yield :audios_nav %>
  </li>
  <li>
    <%= link_to 'Videos', admin_videos_path %>
    <%= yield :videos_nav %>
  </li>
  <li>
    <%= link_to 'Books' %>
    <%= yield :books_nav %>
  </li>
  <li>
    <%= link_to 'Authors', admin_authors_path %>
    <%= yield :books_nav %>
  </li>
</ul>

<ul id="upload_tracks_list" class="qq-upload-list"></ul>
