<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag 'jquery.autocomplete' %>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'admin' %>
    <%= stylesheet_link_tag 'uploadify' %>

    <%= javascript_include_tag "jquery.min.js" %>
    <%= javascript_include_tag "jquery-ui.min.js" %>
    <%= javascript_include_tag 'rails', 'marks', 'jquery.uploadify.v2.1.0.js', 'swfobject.js' %>
    <%= javascript_include_tag 'jquery.behavior' %>
    <%= yield :include_js %>

    <script>
      <%= yield :js %>
    </script>
  </head>

  <body>
        <%= flash[:notice] %>
        <%= yield %>
  </body>
</html>
