<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag 'jquery.autocomplete' %>
    <%= stylesheet_link_tag 'admin' %>
    <%= stylesheet_link_tag 'fileuploader' %>

    <%= javascript_include_tag "jquery.min.js" %>
    <%= javascript_include_tag "jquery-ui.min.js" %>

    <%= javascript_include_tag 'fileuploader' %>
    <%= javascript_include_tag 'jquery.behavior', 'jquery.hotkeys', 'mustache', 'admin/tabs', 'admin/models' %>
    <%= yield :include_js %>

    <script>
      <%= yield :js %>
    </script>
  </head>

  <body>
    <%= flash[:notice] %>

    <div id="main">
      <div id="content">
        <div id="context_nav">
          <%= yield :context_nav %>
        </div>

        <%= yield %>
      </div>

      <div id="sidebar">
        <%= render_sidebar %>
      </div>
    </div>
  </body>
</html>
