<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>BharatiRU</title>
    <%= stylesheet_link_tag 'style' %>
    <%= stylesheet_link_tag 'jquery.autocomplete' %>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css' %>


    <%#= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
    <%#= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" %>
    <%= javascript_include_tag 'jquery.min', 'jquery-ui.min' %>
    <%= javascript_include_tag 'jquery.form' %>
    <%= javascript_include_tag 'rails', 'mustache', 'jquery.behavior' %>
    <%= javascript_include_tag 'application', 'common' %>
    <% unless current_user.logged_in? %>
      <%= javascript_include_tag 'login_dialog' %>
    <% end %>
    <%= yield :include_js %>

    <script>
      <%= yield :js %>
    </script>
  </head>

  <body>
    <%= render :partial => 'shared/page_top'  %>
    <%= render :partial => 'shared/site_path' %>

    <%= yield :before_main_block %>

    <div id="main">
      <!-- КОНТЕНТ -->
      <div id="content">
        <%= yield %>
      </div>

      <!-- ЛЕВАЯ КОЛОНКА -->
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
    </div>

    <%= render :partial => 'shared/page_bottom' %>
    <%= render :partial => 'shared/page_footer' %>
  </body>
</html>
