<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <%= display_meta_tags :site => 'Beauty over power | Красота вне закона' %>
    <link rel="shortcut icon" href="images/favicon.ico" />
    <%= stylesheet_link_tag 'style' %>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css' %>
    <%= yield :include_css %>


    <%#= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
    <%#= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" %>
    <%= javascript_include_tag 'jquery.min', 'jquery-ui.min' %>
    <%= javascript_include_tag 'jquery.mousewheel' %>
    <%= javascript_include_tag 'rails', 'jquery.behavior' %>
    <%= javascript_include_tag 'application', 'common' %>
    <%= javascript_include_tag 'audio_sb_albums' %>
    <%= yield :include_js %>

    <script>
      <%= yield :js %>

      //Google analytics
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-11873157-5']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      //Google analytics
    </script>
  </head>

  <body>
    <%= render :partial => 'shared/page_top'  %>
    <%= render :partial => 'shared/site_path' %>

    <%= yield :before_main_block %>

    <div id="main">
      <%= yield :before_content_block %>
      <!-- КОНТЕНТ -->
      <div id="content">
        <%= yield %>
      </div>

      <!-- ЛЕВАЯ КОЛОНКА -->
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
    </div>

    <%= render :partial => 'shared/page_bottom' %>
    <%= render :partial => 'shared/page_footer' %>
  </body>
</html>
